doctype html
html
  head
    block head
    block title
      title ARDA - Ansible Remote Deployment Admin
    block meta
      meta(name='description', content='')
      meta(name='keywords', content='')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    | <style>
    | body { padding-top: 60px; }
    | </style>
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='js/bootstrap.min.js')
  body
    include header

    block content

    include footer
